@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster");
/*Main*/
:root {
  --poppins: "Poppins", sans-serif;
  --bungee: "Bungee", cursive;
  --lobster: "Lobster", cursive;
  --pacifico: "Pacifico", cursive;
}

.navbar {
  background-color: #002f49a2;
}
.navbar-brand {
/*  padding-left: 30px;*/
  font-family: var(--lobster);
  font-size: 2rem;
  color: var(--yellow-color);
}

.heading .p {
  padding: 0em 13vmin;
  color: rgb(70, 65, 65);
  font-size: 3.5vmin;
  font-family: var(--pacifico);
}

.copyrights,
.copyrights p {
  padding: 0;
  margin: 0;
  border-top: 1px solid #d3d0cb;
  font-size: 1em;
  color: white;
}